
body, html {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('images/fondo.png') no-repeat center ;
 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown { 
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 80%;
    margin-top: 10px; 
}

.countdown .timer {
    font-size: 30px;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

.countdown .labels {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    font-size: 12px;
    color: #666;
}

.countdown .label {
    width: 25%;
    text-align: center;
}

#cronologia {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
